ul {
    padding: 0
}

.car{
    border: 1px solid;
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}